<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>  
    <div class="winning-message2 show">
        <div id="player" >Replay : <%= replay._id %> </div>
        <div >Winner is : <%= replay.result %> </div>
        <a class="" href="/history">All History</a>
    </div>
    <div>
        <div class="board size<%= replay.size %>" id="board">
            <% for(let pos of replay.position) { %>     
                <% if(pos == 'X') { %>
                <div class="cell X"><%= pos %> </div>    
            <% } %>  
                <% if(pos == 'O') { %>
                <div class="cell O"><%= pos %> </div>    
            <% } %>  
                <% if(pos == '') { %>
                <div class="cell"><%= pos %> </div>    
            <% } %>  
            <% } %>
        </div>
    </div> 
        

</body>

</html>